*{margin:0; padding:0;}

ul li{list-style:none;}
a{text-decoration:none;}
a:hover{color:##f18100;}
html,body{font:12px/1.5 tahoma，arial,5b8b\4f53;}
img{border:0;}
b{font-weight:bolder;}
.topbar{background:#fff;}

.topbar .wrapper{width:1180px; height:33px; margin:0 auto; overflow:visible;}
.topbar .align-right{/*font-size:0*/;height:100%; float:right; line-height:33px; text-align:right; overflow:visible!important;}
.topbar .user-menu{height:23px; vertical-align:middle; position:relative;z-index:33; text-align:center;}
.topbar .hidden{display:none;}
.topbar .align-right a{margin-left:18px;}
.topbar a{display:inline-block; vertical-align:middle; color:#999;height:19px; line-height:19px;}
.topbar a:hover{color:#ff7800;}
.topbar .login-icon{background-image :url(../images/IMG_4792.png); width:19px; height:19px;}
.topbar .icon-qq{background-position:0 -31px; background-repeat:no-repeat;}
.topbar .icon-weixin{background-position:0 -53px; background-repeat:no-repeat;}
.topbar .icon-weibo{background-position:0 -75px; background-repeat:no-repeat;}
.topbar .b5m-slogan{line-height:31px; height:auto;}
.topbar .b5m-msg{display:inline-block;border:1px solid red;}	
.topbar .b5m-msg .fa{color:#ff760f; margin-right:1px;font-size:inherit; font:normal normal normal 14px/1 FontAwesome;}
.topbar .myorder{padding-left:17px; background:url(../images/tp-my-order.png) 0 2px no-repeat;}
.topbar .mobile{padding-left:17px; background:url(../images/tp-my-phone.png) 4px 2px no-repeat;}
.topbar .feedback{display:inline-block;position:relative; text-decoration:middle; }
.topbar .feedback div{position:absolute; top:24px; left:19px; z-index: 10}
.topbar ul{width:66px;  margin-left:5px; border:1px solid #ddd;}
.topbar .feedback ul a{text-align:center;margin:0; display:block; line-height:30px; height:auto;}
.topbar .feedback .cart{padding-left:23px; background:url(../images/tp-cart.png)0 1px no-repeat;}
.topbar .feedback .cart b{padding:0 6px; vertical-align:baseline;color:#ff7800;}
.topbar .b5m-slogan .fa { display:inline-block; background-position:-3px -14px; background-repeat:no-repeat; width:16px; height:14px;}

.header .wraper-main{width:1180px; height:80px; padding:3px 0; margin:0 auto; position:relative;}
.header .b5m-logo ,.header .b5m-ad , .header .b5m-search{display:inline-block; vertical-align:top;}
.header .b5m-logo a{display:inline-block; vertical-align:middle; width:130px;}
.header .b5m-logo img{max-width:100%; max-height:100%;}
.header .b5m-ad{margin-left:.5%; width:70px; height:70px;}
.header .b5m-keywords{display:inline-block; vertical-align:middle; margin-left:4.3%; width:50%;}
.header .b5m-keywords form{width:100%;}
.b5m-search input , .b5m-search a{float:left; height:38px; border:1px solid #ff7800; line-height:38px;}
.b5m-autofill{border-right:0;padding-left:13px; border-top-left-radius:3px; border-bottom-left-radius:3px;  width:82%;}

.b5m-search .search-btn{display:inline-block; border-bottom-right-radius:3px; border-top-right-radius:3px; width:13%; height:38px; line-height:38px; text-align:center; background:#ff7800; color:#fff; font: 400 16px/38px "Microsoft YaHei"; }


.b5m-hot{background-image:url(../images/IMG_4792.png);}
.b5m-hot {background-position:-6px -95px; background-repeat:no-repeat;}
.b5m-hot{margin-top:10px; padding-left:16px; width:95%; height:16px; line-height:16px; overflow:hidden;}
.b5m-hot a{display:inline-block; vertical-align:middle; padding:0 7px; line-height:16px; border-right:1px solid #e9e6e9;}

.b5m-head-banner{position:absolute; right:0; top:0; width:217px; height:57px;background:url(../images/home-anz.png) 0 0 no-repeat; cursor:default;}
.b5m-menu {position:relative; border-bottom:2px solid #ff7800; font-size:16px; font-family:microsoft "YaHei";}

.b5m-menu .wraper{position:relative; padding:0; width:1180px; margin:0 auto;}
ul.menu-list{display:block;}
.menu-list:before,.menu-list:after{display:table; content:"";}

.menu-list:after{clear:both; overflow:hidden;}
.menu-list li{float:left;}
.menu-list a:hover{color:#f18100;}
.menu-list a{position:relative;margin:0 25px; display:block; height:40px; line-height:40px; color:#333; text-align:center; z-index: 10; }
.menu-list a.sort-all-tit{margin:0 15px 0 0; width:169px; color:#fff; background-color:#ff7800; }
.menu-list a.current{color:#f18100;}
.b5m-menu .align-right{position:absolute; top:-10px; right:0; text-align:right; height:60px;}
.b5m-sort-menu-all .wraper{position:relative; z-index:11; width:1180px; margin:0 auto;}
.sort-all-menu-warp{position:absolute; top:-3px; left:0; z-index:1000; display:inline-block; vertical-align:middle; border:1px solid #ff7800; border-top-width:3px; background-color:#fff;}
.sort-all-menu-warp .all-cate{width:167px; height:545px; overflow:hidden;}
.sort-all-menu-warp  .main-item{padding:6px 0;}
.sort-all-menu-warp .all-cate li{height:39px; line-height:34px; border-top:1px solid #fff; border-bottom:1px solid #fff;}
.sort-all-menu-warp .all-cate li .icon-mobile{background-position:left 1px;}
.sort-all-menu-warp .all-cate li .icon{display:inline-block; vertical-align:middle; width:22px; height:22px; margin:9px 1px 0 7px; float:left;display:inline; background-image:url(../images/sort-icon-list.png);}
.sort-all-menu-warp .all-cate li .main-cate{float:left; position:relative; z-index:100; height:39px; line-height:39px; width:135px; display:inline-block;}
.sort-all-menu-warp .all-cate li .sub-item{position:absolute; top:0; left:165px; z-index:80; min-height:505px; margin-left:-1px; border:1px solid #ddd; background-color:#fff; box-shadow:0 2px 2px 3px #ddd; display:none;}
.sort-all-menu-warp .all-cate li .main-cate a{margin-right:6px; margin-left:2px; float:left; display:inline;}
.sort-all-menu-warp .all-cate li a{font-size:12px; color:#333; font-family:\5FAE\8F6F\96C5\9ED1;}

.sort-all-menu-warp .all-cate li .sub-item .sub_wp{width:649px; overflow:hidden; min-height:537px;}
.sort-all-menu-warp .all-cate li .sub-item .sub_wp .sub-in{float:left; min-height:489px; width:378px; padding:0 015px 30px; line-height:24px; background:#fff;}
.sort-all-menu-warp .all-cate li .sub-item .sub_wp .sub-in dl{overflow:hidden; padding:8px 0;margin-top:-1px; border-top:1px solid red;}
.sort-all-menu-warp .all-cate li .sub-item .sub_wp .sub-in dl dt a{font-size:18px; font-weight:700; color:#eb7e00;}
.sort-all-menu-warp .all-cate li .sub-item .sub_wp .sub-in dl dd a{float:left; margin-right:15px; white-space:nowrap;}
.sort-all-menu-warp .all-cate li .sub-item .sub_wp .hot-brand{float:left;width:240px; padding-bottom:2000px;margin-bottom:2000px; border-left:1px solid #EBEBEB}
.sort-all-menu-warp .all-cate li .sub-item .sub_wp .hot-brand h4{padding:6px; margin:0 20px; font:700 14px/32px '\5FAE\8F6F\96C5\9ED1'; zoom:1;}
.sort-all-menu-warp .all-cate li .sub-item .sub_wp .hot-brand .brand-list{margin:0 20px; overflow:hidden; zoom:1;}
.sort-all-menu-warp .all-cate li .sub-item .sub_wp .hot-brand .brand-list li{float:left; margin-left:-1px; width:100px; height:50px; border-top:1px solid red; border-left:1px solid red;}
.sort-all-menu-warp .all-cate li .sub-item .sub_wp .hot-brand .brand-recommed{display:block; padding:20px 0 0 20px ;}
.b5m-sort-menu-all  .cont-c{float:left; width:800px; }
.wrapper{width:1180px; margin:0 auto;}
.cont{margin-bottom:10px;}
.cont:after,.cf:after{content:""; display:table; clear:both; overflow:hidden;}
.cf:before{content:""; display:table; }

.cont .cont-l{float:left; width:169px; height:546px;}
.cont .cont-c{float:left; width:800px;}
.banner-link-pic{height:183px; display:block; border-top:1px solid #efefef; border-bottom:1px solid #efefef;}
.banner-link-pic:before ,.banner-link-pic:after{content:""; display:table;}
.banner-link-pic:after{clear:both; overflow:hidden;}
.banner-link-pic a{width:199px; height:183px; border-right:1px solid #eee; float:left; position:relative;}
.banner-link-pic b{font-family:arial; font-weight:bold;}
.banner-link-pic a .pro-price{top:30px; left:10px; position:absolute; color:#e43d40; font-size:14px;}
.banner-link-pic a img{width:100%; height:100%;}
.cont .cont-r{float:left; width:210px; border-right:1px solid #efefef;}

.b5m-notice{margin:0 5px 0 9px; padding-bottom:15px; height:183px;}
.b5m-notice .title{text-align:left; color:#f18100; font-size:14px; border-bottom:1px solid #e9e9e9;line-height:41px; font-family:microsoft YaHei;}
.b5m-notice .title .ico_notice{display:inline-block; vertical-align:middle; width:17px; height:20px; margin-right:5px;background:url(../images/ico-notice.png) center 1px no-repeat;}
.b5m-notice .notice_list{float:;left; line-height:27px; margin-left:5px; display:inline;color:#666; font-family:Arial,Verdana,"\5b8b\4f53";}
.b5m-notice .notice_list b{vertical-align:middle; margin-right:5px; float:left; display:inline}
.b5m-notice .notice_list p{overflow:hidden; text-overflow:ellipsis; display:inline-block; vertical-align:middle; width:143px; float:left;}
.vip-info{border-top:1px solid #efefef; padding:20px 5px; overflow:hidden;}
.vip-info .vip-top{margin-bottom:20px;}
/*.vip-info:before {content:""; display:table;}*/
.vip-info .vip-top:before {content:""; display:table;}
.vip-top:after {content:""; display:table;clear:both; overflow:hidden;}
.vip-info .vip-top .user-photo{position:relative; float:left;}
.vip-info .vip-top .user-photo .img-wrap{display:block; width:58px; height:58px;border-radius:50%; }
.vip-info .vip-top .user-photo .ico-crown{position:absolute; top:-12px; right:-5px; width:28px; height:28px; z-index:10; background:url(../images/ico-crown-01.png)left top no-repeat;}
.vip-info .vip-top .user-info{float:left; margin-left:8px; margin-top:3px; font-family:microsoft YaHei; }
.vip-info .vip-top .user-info .user-name{color:#333; font-size:14px;}
.vip-info .user-info .user-name span{overflow:hidden; text-overflow: ellipsis; white-space:nowrap;display:inline-block; vertical-align:middle;}
.vip-info .vip-top .user-info .ico-vip{vertical-align:middle;   text-transform: uppercase; width:28px; height:16px;  border-radius:3px; text-align:center; color:#fff; font-size:12px; font-style:normal; font-weight:700; line-height:15px; background-color:#e81818; margin-left:4px;display:block;} 
.vip-info .user-info .vip-tips{text-align:center; border-radius:3px; font-size:12px; color:#f18100; display:block; border-bottom:1px solid #F18100 ; } 

.vip-info .user-info .log-btn{margin-top:6px;}
.vip-info .user-info .log-btn a{ display:inline-block; vertical-align:middle; border-radius:3px; padding:0 8px; margin-right:10px; color:#FFF; font-family:simsun; background:#f18100;}
.log-btn:after{content:""; display:table;}
.vip-bot .info-wrap{overflow:hidden;}
.vip-bot .info-wrap .info-list{float:left; width:33%; text-align:center; border-right:1px solid #eee; line-height:22px; color:#666; }
.vip-bot .info-wrap .info-list:last-child{border-right:0;}
.vip-bot .info-wrap .info-list a{color:#333;}
.vip-bot .info-wrap .info-list a b{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; font-size:15px; font-family:arial; width:100%; letter-spacing:-1px; font-weight:400px; }
.banner-link-pic{display:block; broder-top:1px solid #efefef; height:183px; }

.banner-link-pic :before,.banner{content="" display:table;}
.banner-linl-pic a{position:; width:199px; height:183px;border:1px solid red; float:left; position:relitive;} 
 
 .floor-tit.superBuy{margin:22px auto 20px; border-bottom:3px solid #ff7800; height:26px; overflow:hidden; }
.floor-tit.superBuy .floor-tit-num{float:left; font-weight:bolder; font-size:24px; line-height:20px; color:#ff7800;font-family:arial;}
.floor-tit h3{ float:left; line-height:20px; font-size:20px;  color:#888; }
.floor-tit h3 a{color:#666;}
.floor-tit .floor-tit-desc{padding-left:10px; font-size:12px; color:#666;}
.floor-content{margin-bottom:16px;}
.fl{float:left;}
.floor-content-superBuy .superBuy-img{display:block ; width:212px; height:475px; font-size:0; text-align:center; overflow:hidden; }
.floor-content-superBuy .superBuy-img:before{content:""; height:100%; font-size:0; line-height:0; width:0;}
.floor-content-superBuy .superBuy .super-img img{display:inline-block; vertical-align:middle; font-size:1rem; line-height:normal;};
.floor-content-superBuy .superBuy-box{width:968px;}
.fr{float:right;}

.floor-content-superBuy .superBuy-box:before,.superBuy-box:after content="" display:table; }
.superBuy-box:after{clear:both; overflow:hidden; content="" display:table;}
.super-pro-list{display:block; border:1px solid #eee; width:966px; /*overflow:hidden;*/}

.super-pro-list li{text-align:center; position:relative; float:left; width:240px; height:236px; border-left:1px solid #eee; border-bottom:1px solid #eee; }
.super-pro-lisi li:nth-child(2n-1){width:241px;}
.super-pro-list li:nth-child(4n-3){border-left:0;}
.super-pro-list li .discount-tag{width:64px; height:58px;top:-5px; right:0; position:absolute; z-index:10;background:url(../img/fold-tag.png); color:#fff;}
.super-pro-list li .discount-tag p{line-height:20px; margin-top:2px;}
.super-pro-list li .discount-tag b{display:inline-block; margin-top:-3px; vertical-align:middle; font-family:"Microsoft YaHei"; font-size:20px; margin-top:-3px; margin-right:2px; }
.super-pro-list li .img-wrap{width:240px; height:236px; }