*{
	margin:0;
	padding:0;
	font-size:12px;
	font-family: tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
* html div { 
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="tran.png"); 
background:none; 
}
img{border:0;}
.l{float:left;
}
.r{
	float:right;
}

.body{
	min-width:1000px;
}
ul li{
	list-style: none;
}

.wq{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
}
.icon{
	background:url(icon.png) no-repeat;

}
a{text-decoration:none;} 

.cl{
	clear: both;
}




.kaicheng_top{
	height:41px; width:;
	background:#ededed;
	border-top:2px solid #fb7143 ;
	border-bottom:1px solid #c9cfd1;
	overflow:hidden;
	
}
.kaicheng_top ul li{                
	display:inline-block;           
	float:left;                     
	height:16px;                    
	margin-top:14px;                
	font-size:13px;                 
	border-right:1px solid #b1b1b1; 
	padding:0 7px 0 7px;            
	font-weight:bold;               
	overflow:hidden;                
}                                   

.kaicheng_top .left_icon{
	height:26px;
	margin-top:6px;
}
.kaicheng_top .left_icon a{
	display:inline-block;
	width:26px; height:26px;
	float:left;
	margin-right:7px
}


.kaicheng_top .left_icon a.xinlang{
	background-position:0 0;
	margin-left: 2px
	
} 
.kaicheng_top .left_icon a.youku{
	background-position:-33px 0;
	
} .kaicheng_top .left_icon a.weixin{
	background-position:-66px 0;
	
} 

.kaicheng_top ul li span{
	display:inline-block;
	}

.kaicheng_top ul li span.flag{
	width:18px; height:12px;
	background-position:-110px -9px;
	
}
.kaicheng_top span.State{
	margin:0 6px 0 8px;
	 }
.kaicheng_top ul li span.arrow{
	width:7px; height:4px;
	background-position:-144px -13px;
	position: relative;
}	
.headerLeftMenu ul li{
	display:block;
	
}	
	
	
	
	
	
	
	
.kaicheng_top span.phone{
	width:12px;height:12px;
	background-position:-170px -9px;
}  
.kaicheng_top span.app{
	font-size:13px;
	margin-right:5px;
	
}	


.kaicheng_top .headerRightMenu ul li{
	padding:0 18px 0 18px;
	margin-right: -1px; 
} 
.kaicheng_top .headerRightMenu ul li a{
	color:#000000;
	
	
}
/*.guanyu{
	border:0;
}*/
.kangcheng_title{
	height:88px;
	overflow:hidden;
	border-bottom:1px solid #eef1f2;
	
	
	
}
.kangcheng_title .logo{
	width:144px;
	height:51px;
	background-position:-19px -39px;
	margin-top:15px;
	float:left;
	
}

.left_Navigation a{
	display:block;
	float:left;	
	height:88px;
	overflow: hidden;                                
	
}
.left_Navigation a:active{
	background:#e8e6e6;
}
.left_Navigation a:hover{
	background:#e8e6e6;
}

.left_Navigation a span{
	margin:28px 13px 0 13px;
	display:inline-block;
	
}

.left_Navigation .shuzi{
	background-position:-19px -145px;
	width:78px;
	height:33px;
	
}
.left_Navigation .zhanting{
		background-position:-131px -145px;
	width:81px;
	height:33px;
	
}
.left_Navigation .qiAPP{
		background-position:-19px -203px;
	width:92px;
	height:33px;
	
}
.left_Navigation .donhua{
		background-position:-131px -203px;
	width:66px;
	height:33px;
}
.left_Navigation .fangzhen{
		background-position:-220px -203px;
	width:74px;
	height:33px;
}
.left_Navigation .hudong{
		background-position:-316px -203px;
	width:76px;
	height:33px;
}
.left_Navigation .shijue{
		background-position:-420px -203px;
	width:70px;
	height:33px;
}

.gunlun{
	
	width:100%;
	background:url(beiying.jpg) no-repeat;
	width:100%; height:444px;
	overflow:hidden;
	z-index:1;
}
.note{
	height:102px;
	background:#f5f5f5;
	border-top:4px solid #d9d9d9;
	border-bottom:1px solid #ebebeb;
	text-align:center;
	
}
.note h1{
	font-size:23px;
	font-weight:bold;
	margin-top:24px;
	
}
.note p{
	font-size:16px;	
}


/* (flickr) */  /*滚屏源代码*/
/*#flickr h3 span { color: #0061D8; }*/
/*#flickr h3 span span { color: #FF1183; }*/
/*#flickr .wrap { margin-left: -5px; padding: 0; position: relative; margin-bottom:25px; }*/
/*#flickr a img { float: left; margin-left: 10px; margin-bottom: 10px; display: block; padding: 3px; background: #fff; border: #CECFC6 1px solid; }*/
/*#flickr a:hover img { border: #A8AA99 1px solid; }*/
/* widget-slider */
/*#slider-top {}*/
/*#slider-bot {}*/
#slider-block { min-height:444px;}
.container { height:137px;}
.slide { width:1000px; }
#slider-block {position:relative; overflow:hidden;}
/*.container { position:relative; overflow:hidden; margin:0 auto; z-index: 1;color: #fff;}*/
.container div { opacity:0; z-index:0; position:absolute; top:0; right:0;padding:0px; display: block;width: 100%;text-align: center;}
/*#loopedSlider {background-position;*/
	 /*position:relative; margin:0px auto 0; }*/
#loopedSlider .nav-buttons { list-style-type:none; margin:0; padding:0; position: relative;z-index: 999;}
#loopedSlider li#p { position:absolute; top:177px; left:100px;z-index: 99; }
#loopedSlider li#n { position:absolute; top:177px; right:100px; }
/*.container ul.widget { float:left; width:245px; margin-right:30px; color:#eeeeee; }*/
/*.container ul.last { margin-right:0px; }*/
/*.container ul.widget h3 { font-family:Arial; color:#fff; font-size: 24px; font-weight:bold; margin:10px 0 0; }*/
/*.container ul.widget a { color:#fff; }*/
/*.container ul.widget li ul { padding:0; margin:0; }*/
/*滚屏源代码结束*/

    /*应用ie6兼容*/
#loopedSlider{background-color:#c9cacb;}
#slider-block{_width: 1000px;_margin: 0 auto 0 auto;_overflow: overlay;}
#loopedSlider li#p { _position:absolute; _top:177px; _left:20px;_z-index: 99; }
#loopedSlider li#n { _position:absolute; _top:177px; _right:20px; }

.nav-buttons a{
	display: block;
	width:65px; height:65px;
	
}				 
.previous{
	background-position:-221px -81px;			
	
}
.next{
	background-position:-308px -81px;			

}

.n{
	height:444px;
	overflow:hidden;
	
}

			/*中间滚动菜单开始*/
.pic_con{width:972px;height:138px;padding:0px 18px 0 18px;margin:0px auto 0 auto;position:relative}
.pic_lists{float:left;width:8888px;overflow:hidden;position:absolute;top:30px;left:0px}
.btn_change{width:10px;height:16px;position:absolute;text-indent:-9999px;cursor:pointer}
.left_btn{background:url(../images/left_but1.jpg); top:56px;left:4px}
.right_btn{background:url(../images/right_but1.jpg); top:56px;right:4px}

.pic_content{overflow:hidden;height:138px;margin:0 auto;width:972px;;position:relative;}
.pic_content ul li{float:left;width:133px;height:72px;margin:30px 3px 38px 3px;background:#9CC;text-align:center;margin:0 0 0 3px;position:relative}
.pic_content ul li p{height:24px;background:#333;line-height:24px;color:#fff;width:151px;position:absolute;bottom:2px;left:2px;text-align:center;display:none}
.pic_content ul li a img{width:133px;height:72px}

/*.highlight_tip{width:50%;position:relative;margin:0 auto;top: -15px;left: 20%; }
.highlight_tip span{height:24px;padding:5px;line-height:24px;float:left;margin:0 2px;cursor:pointer}
.highlight_tip span.current{height:18px;width:18px;line-height:18px;background:#9CC;text-align:center}
}*/
			/*中间滚动菜单结束*/
			/*热点内容开始*/					
.redian{
	height:289px;
	width:100%;
	background:#fafafa;
}
.content_title{
	height:85px;
	display:block;
	overflow:hidden;
}
.content_title h3{
	color:#c4c3c1;
	font-size:16px;
	margin-top:33px;
}
 .content_title span{
	display:block;
	height:9px;
	width:37px;
	border-bottom:1px solid #ccd3d7;
	
}

.redian .concent ul{
	display:block;
	line-height:22px;
	width: 1042px;
	height: 180px;
	overflow: hidden;
}
.concent ul li a span{
	display:block;	
	font-size:13px;	
	color:#000000;
	font-weight:bold;
}
.redian .concent ul li{
	display:inline-block;
	margin-right:23px;
	width:148px;
	float:left;
}

 

.concent ul li a img{
	display:block;
}
.concent ul li em{
	display:block;
	font-size:11px;
	color:#888888;
} 
.concent ul li p{
	color:#333333;
	font-size:11px;
	
	
} 
  /*成功案例行开始*/                
.anli{
	padding-bottom:24px;
	
}
.anli .concent ul{
	height:243px;
	width: 1042px;
	line-height:22px;
}

.anli .concent ul li{
	display:inline-block;
	margin-right:20px;
	float:left;
	height:223px;
	width:235px;
	border-bottom:1px dotted #b7b7b7;
	/*成功案例结束*/	
	}
.gonggao{
	height:274px;
	background:url(../images/background_3.jpg) -20px 0px repeat-x;
}
.gonggao .menu{
	width:1130px;
}

.gonggao .nav_menu{
	width:325px;
	height:275px;
	margin-right:13px;
	overflow:hidden;
	
}

.gonggao .title{
	height:78px;
	overflow:hidden;
	
	border-bottom:1px solid #dcdcdc;
	
}
.gonggao .title h3{
	display:block;
	font-size:16px;
	margin-top:50px;
	padding-left:11px;
}
 .gonggao .content{
 	margin-top:11px;
 	display:block;
 	
 }
.gonggao .nav_menu ul li{
	font-size:13px;
	 line-height:28px;
	 padding-left:11px;
}
.gonggao .nav_menu ul li a{
	display:block;
	color:#333333;
	font-size:13px;
	padding-left:12px;
	background:url(../images/dian1.jpg) left center no-repeat;
		
}
.gonggao .nav_b_bottom a.but_9{
	display:block;
	width:57px;
	height:13px;
	background-position:0px -120px;
	margin:8px 0 0 8px;
}
.Homepage{
	height:41px;
	font-size:13px;
	width:100%;
	color:#f94d09;
	background:#f94d09;
}
.Homepage .menu{
	width:1000px;
	margin:0 auto;
}
.Homepage ul{
	float:left;
	padding-left:210px;
	line-height:41px;
	
}
.Homepage ul li{
	display:inline-block;
	float:left;
}
.Homepage ul li a{
	color:#ffffff;
	font-size:13px;
	padding:0 17px 0 17px; 
	border-right:1px solid #fff;
}
.Homepage_lfet_bottom{
	float:right;
	width:39px; height:27px;
	background-position:-82px -112px;
	margin-top:-21px;
	
	
}
.Homepage ul li a.e{
	border:0;
}
    /*热点产品结束*/

.General{
	height:331px;
	background:url(beiyingtu-5.jpg) -20px -20px repeat;
}
.General .guanyu{
	width:300px;
}
.General .menu{
	height:255px;
	border-bottom:1px solid #1a1a1a;
}
.General .title h1{
	font-size:16px;
	line-height:20px;
	color:#999999;
	
	padding-top:40px;	
}
.General .kaicheng{
	height:78px;
}
.General .kaicheng a{
	display:block;
	float:left;
	margin-right:11px;
}
.General .kaicheng p{
	padding-top:11px;
	font-size:13px;
	color:#999999;
}
.General span{
	display:block;
	float:left;
	color:#999999;
	font-size:11px;
	line-height:20px;
}
.General .title{
	height:75px; 
}

.Read_more a{
	display:inline-block;
	color:#494949;
	line-height:30px;
}

.General .job ul li{
	font-size:12px;
	line-height:28px;
	
	
}
.job{
	width:170px;
	overflow:hidden;
	
}


.General .job ul li a{
	color:#999999;
}
.Contact_us{
	width:274px;
	overflow:hidden;
	
	
}
.Contact_us ul li{
	height:28px;
}

.Contact_us span{
	display:inline-block;
	line-height:28px;
	
}

.Address,.Tel,.Fax,.Email{
	
	height:14px;
	width:14px;
	margin-top:8px;
	margin-right:5px;
		
}
.Address{
	background-position:-22px -337px;	
}
.Tel{
	background-position:-40px -337px;
	
}
.Fax{
	background-position:-58px -337px;
	}
.Email{
	background-position:-77px -337px;
}

.Follow_us{
	_margin-top:-14px;
}
.Follow_us ul li{
	height:38px;
	
	
}
.Follow_us ul li a{
	display:block;
	color: #999999;
	font-size: 12px;
	line-height:30px;
	padding-left:38px;
	
	
}
.shine1,.youku1,.weibo1{
	margin-top:0;
	height:30px;
}
.shine1{  -365px -406px 445px;
	background-position:0px -365px;
}
.youku1{
	background-position:0px -406px;
}
.weibo1{
	
	background-position:0px -445px;
}
.guanyu,.follow_us,.Contact_us,.job{
	padding-right:47px;

}
.ottom_nav{
	float:left;
}
.bottom_nav .search{
	width:231px;
	height:30px;
	color:#999999;
	font-size:12px;
	line-height:30px;
	display:inline-block;
	margin-left:5px;
	padding-left:3px;
	background:#272727;
	border:1px solid #424242;
	outline:none;	
}
.left_input img{
	display:block;
	float:left;
}
.bottom_nav .btn{
	color:#fff;
	width:78px;
	height:33px;
	font-size:14px;
	background-position:-383px -365px;
	border:0;
	padding-left:4px;
	
}
.right_input{
	float:right;
	background:url(../images/search.jpg) no-repeat;
	width:338px;
	height:38px;
	
}
.right_input .menu{
	height:18px;
	margin-top:7px;
	
	
}
.right_input p{
	display:inline-block;
	float:left;
	padding-left: 20px;
	font-size:13px;
	color: #999999;
	
}
.right_input a{
	display:inline-block;
	float:left;
	height:18px;
	font-size:13px;
	color:#999999;
	padding:0 9px 0 9px;
	border-left:1px solid #363636;
	border-right:1px solid #000000;
	
}
.right_input a span{
	width:17px;
	height:18px;
	margin-right:8px;
	display:inline-block;
	
	
	
}
.iphone{
	background:url(../images/Android.jpg) no-repeat;
	
}
.ipad{
	background:url(../images/ipod.jpg) no-repeat;
	
}
.Android{
	background:url(../images/android.jpg) no-repeat;
}
/*.ipad_b{
	border-right:1px solid #999999;
	border-left:1px solid #999999;
}*/






